<!-- Footer -->
<footer class="footer py-4 mt-5">
	<div class="container">
		<div class="row">
			<div class="col-md-4 mb-4">
				<h5>Contact Us</h5>
				<p>
					<i class="bi bi-geo-alt"></i> VPO. I.K. Gujral Punjab Technical University Campus,<br />
					Jalandhar-Kapurthala Highway,<br />
					Kapurthala - 144603, Punjab (India)
				</p>
				<p>
					<i class="bi bi-telephone"></i> +91-1824-297297<br />
					<i class="bi bi-envelope"></i> info@ptu.ac.in
				</p>
			</div>
			<div class="col-md-4 mb-4">
				<h5>Quick Links</h5>
				<ul class="list-unstyled">
					<li><a href="https://ptu.ac.in" target="_blank">University Website</a></li>
					<li><a href="https://ptu.ac.in/academics/" target="_blank">Academics</a></li>
					<li><a href="https://ptu.ac.in/examination/" target="_blank">Examinations</a></li>
					<li><a href="https://ptu.ac.in/student-corner/" target="_blank">Student Corner</a></li>
				</ul>
			</div>
			<div class="col-md-4 mb-4">
				<h5>Follow Us</h5>
				<div class="social-links">
					<a href="https://www.facebook.com/IKGPTU/" target="_blank">
						<i class="bi bi-facebook"></i>
					</a>
					<a href="https://twitter.com/IKGPTU" target="_blank">
						<i class="bi bi-twitter"></i>
					</a>
					<a href="https://www.youtube.com/c/IKGPTU" target="_blank">
						<i class="bi bi-youtube"></i>
					</a>
					<a href="https://www.linkedin.com/school/ikgptu/" target="_blank">
						<i class="bi bi-linkedin"></i>
					</a>
				</div>
			</div>
		</div>
		<hr class="my-4" />
		<div class="text-center">
			<p class="mb-0">&copy; {{current_year}} I.K. Gujral Punjab Technical University. All rights reserved.</p>
		</div>
	</div>
</footer>